<!DOCTYPE html>
<html lang="en">

<head>

    <!-- <link rel="stylesheet" href="equipo6_reto1/templates/estilos.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/di.png' %}" type="image/png">
    <title>{% block titulo %}Deustomach{% endblock %}</title>
</head>

<body>
    <header>
        <div class="header_izquierdo">
            <h1>Deustomach Innovation S.L.</h1>
        </div>
        <div class="busqueda">
            <form method="get">
                <div class="busqueda1">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
               
                    <button type="submit" class="boton_busqueda">Buscar</button>
                </div>
            </form>
        </div>

        <div class="der">
            <div class="der_izq">
                <a href="/aplicacion/" class="link_head">Gestor de tickets</a>
                <a href="/aplicacion/empleados/" class="link_head">Gestor de empleados</a>
            </div>
            <div class="der_der">
                <a href="/aplicacion/equipos/" class="link_head">Gestor de equipos</a>
                <a href="/aplicacion/proveedores/" class="link_head">Gestor de proveedores</a>
                <!-- <a href="{% templates 'proveedores_list_api.html' %}" class="link_head">Gestor de proveedores</a> -->
                
               
            </div>
        </div>



    </header>
    <main >
        {% block contenido %}{% endblock %}
    </main>
    <footer>
        <div>
            <h2 class="h2f">Estamos en:</h2>
            <p class="pf">Bilbao: C/ San Mames 944 000 001</p>
            <p class="pf">Pamplona: C/ Siete de Julio 948 000 002</p>
            <p class="pf">Vitoria-Gasteiz: Av. Gasteiz 945 000 003</p>
        </div>
    </footer>
    <script src="{% static 'js/aumentar.js' %}"></script>
    <script src="{% static 'js/evaluarEquipo.js' %}"></script>
    <script src="{% static 'js/evaluarEmpleado.js' %}"></script>
    <script src="{% static 'js/evaluarProveedor.js' %}"></script>
    <script src="{% static 'js/evaluarTicket.js' %}"></script>
</body>

</html>