<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="estilos.css">
        <title>{% block titulo %}Deustomach{% endblock %}</title>
    </head>
    <body>
        <header>
	        <h1 style="color:rgb(0, 81, 255)">Deustomach Innovation S.L.</h1>
            <h2>Menú:</h2>
            <ul>

                <li><a href="/aplicacion/">Gestor de tickets</a></li>
                <li><a href="/aplicacion/equipos/">Gestor de equipos</a></li>
                <li><a href="/aplicacion/empleados/">gestor de empleados</a></li>
            </ul>
            <hr>
        </header>
        <main>
            {% block contenido %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p>Aplicación desarrollada en Ingeniería Web</p>
        </footer>
    </body>
</html>