<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <title>{% block titulo %}Deustomach{% endblock %}</title>
    </head>
    <body>
        <header>
	        <h1 style="color:rgb(0, 81, 255)">Deustomach Innovation S.L.</h1>
            <h2>Menú:</h2>
            <ul>
                <!-- <li><a href="/appEmpresaDjango">Listado de departamentos</a></li>
                <li><a href="/appEmpresaDjango/departamentos/create">Crear departamento</a></li>
                <li><a href="/appEmpresaDjango/empleados/create">Crear empleado</a></li> -->
                <li>gestor de tickets</li>
                <li>gestor de equipos</li>
                <li>gestor de empleados</li>
            </ul>
            <hr>
        </header>
        <main>
            {% block contenido %}{% endblock %}
        </main>
        <footer>
            <hr>
            <p>Aplicación desarrollada en Ingeniería Web</p>
        </footer>
    </body>
</html>