{% extends "base.html" %}

{% block titulo %} Detalle del Empleado {% endblock %}

{% block contenido %}
<h2>Datos del Empleado</h2>

{% if empleado %}
<ul class="descripciongeneral">
    <div class="botones_descripcion">
        <button class="boton"><a class="enlace" href="/aplicacion/empleados/{{empleado.id}}/update">
                Modificar</a></button>
        <button class="boton"><a class="enlace" href="/aplicacion/empleados/{{empleado.id}}/delete"> Borrar</a></button>
        <button class="boton"><a class="enlace" href="/aplicacion/empleados/{{empleado.id}}/tickets"> Mostrar sus
                tickets </a></button>
    </div>
    <div>
        <button class="boton" id="aumentar">Aumentar</button>
        <button class="boton" id="disminuir">Disminuir</button>
        
    </div>

    <div class="tamanos">
        <div class="descripciones">
            <li>
                DNI: {{ empleado.DNI}}
            </li>
            <li>
                Nombre: {{ empleado.nombre}}
            </li>
            <li>
                Apellido 1: {{ empleado.apellido1}}
            </li>
            <li>
                Apellido 2: {{ empleado.apellido2}}
            </li>
            <li>
                Correo electronico: {{ empleado.email}}
            </li>
            <li>
                Numero de telefono: {{ empleado.telefono}}
            </li>
        </div>
    </div>

</ul>
{% else %}
<p>No existe este Empleado.</p>
{% endif %}

{% endblock %}