{% extends "base.html" %}

{% block titulo %} listado de equipos {% endblock %}

{% block contenido %}
<h2>Listado de equipos</h2>
{% block busqueda %}
<div class="busqueda">
<form method="get">
    <div class="busqueda1">
        <input type="text" class="form-control" placeholder="Buscar..." name="buscar">

        <button type="submit" class="boton_busqueda">Buscar</button>
    </div>
</form>
</div>
{% endblock %}

<div class="divprincipal">
    <button class="boton"><a class="enlace" href="/aplicacion/equipos/create">Crear Equipo</a></button>
    {% if lista_equipos %}
    <div>
        <button class="boton" id="aumentar">Aumentar</button>
        <button class="boton" id="disminuir">Disminuir</button>
    </div>
    <div id="tamanos">
        <table>
            <tr>
                <th>Numero referencia</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo equipo</th>
                <th>Fecha adquisicion</th>
                <th>Proveedor</th>
                <th>Planta</th>
                <th></th>
            </tr>

            {% for e in lista_equipos %}
            <tr>
                <td>{{ e.num_serie}}</td>
                <td>{{ e.marca}}</td>
                <td>{{ e.modelo}}</td>
                <td>{{ e.tipo_equipo}}</td>
                <td>{{ e.fecha_adquisicion}}</td>
                <td>{{ e.proveedor}}</td>
                <td>{{ e.planta}}</td>
                <td>
                    <button class="boton"><a class="enlace" href="/aplicacion/equipos/{{ e.id }}">Ver
                            detalles</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        {% include "paginadorequipo.html" %}
    </div>
</div>

{% else %}
<p>No hay Equipos creados.</p>
{% endif %}

{% endblock contenido %}