{% extends "base.html" %}

{% block titulo %} listado de tickets {% endblock %}

{% block busqueda %}
<div class="busqueda">
    <form method="get">
        <div class="busqueda1">
            <input type="text" class="form-control" placeholder="Buscar..." name="buscar">

            <button type="submit" class="boton_busqueda">Buscar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block contenido %}
<h2>Listado de tickets</h2>

<div class="divprincipal">
    <button class="boton"><a class="enlace" href="/aplicacion/ticket/create">Crear Ticket</a></button>
    {% if lista_tickets %}
    <div>
        <button class="boton" id="aumentar">Aumentar</button>
        <button class="boton" id="disminuir">Disminuir</button>
    </div>
    <div id="tamanos">
        <table>
            <tr>
                <th>Fecha apertura</th>
                <th>Urgencia</th>
                <th>Estado</th>
                <th>Numero referencia
                <th>Equipo</th>
                <th>Empleado asignado</th>
                <th>Tipo</th>
                <th></th>
            </tr>

            {% for e in lista_tickets %}
            <tr>
                <td>{{ e.fecha_apertura}}</td>
                <!-- <td><a href="/aplicacion/urgencias/{{ e.urgencia}}/tickets'">{{ e.urgencia}}</a></td> -->
                <td>{{ e.urgencia}}</td>
                <td>{{ e.estado_ticket}}</td>
                <td>{{ e.num_referencia}}</td>
                <td>{{ e.equipo_a_reparar}}</td>
                <td>{{ e.empleado_asignado}}</td>
                <td>{{ e.tipo_ticket}}</td>
                <td>
                    <button class="boton"><a class="enlace" href="/aplicacion/ticket/{{ e.id }}">Ver
                            detalles</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include "paginadorticket.html" %}

</div>

{% else %}
<p>No hay Tickets creados.</p>
{% endif %}

{% endblock contenido %}