{% extends "base.html" %}

{% block titulo %} Detalle del Ticket {% endblock %}

{% block contenido %}
<h2>Datos del Ticket</h2>

{% if ticket %}
    <ul><a href="/aplicacion/ticket/{{ticket.id}}/update"> Modificar</a>
        <li>
            {{ ticket.num_referencia}}
        </li>
        <li>
            {{ ticket.equipo_a_reparar}}
        </li>
        <li>
            {{ ticket.descripcion}}
        </li>
        <li>
            {{ ticket.detalles}}
        </li>
        <li>
            {{ ticket.fecha_apertura}}
        </li>
        <li>
            {{ ticket.fecha_resolucion}}
        </li>
        <li>
            {{ ticket.urgencia}}
        </li>
        <li>
            {{ ticket.tipo_ticket}}
        </li>
        <li>
            {{ ticket.estado_ticket}}
        </li>
        <li>
            {{ ticket.empleado_asignado}}
        </li>
        <li>
            {{ ticket.comentarios_ticket}}
        </li>
    </ul>
{% else %}
    <p>No existe este Ticket.</p>
{% endif %}

{% endblock %}