{% extends "base.html" %}

{% block titulo %} listado de tickets {% endblock %}

{% block contenido %}
<p>Listado de tickets</p>

{% if lista_tickets %}
<ul>
    <a href="ticket/create">Crear Ticket</a>
    <table>
        <tr>
            <th>Fecha aperura</th>
            <th>Urgencia</th>
            <th>Estado</th>
            <th>Numero referencia
            <th>Equipo</th>
            <th>Empleado asignado</th>
            <th>Tipo</th>
            <th></th>
        </tr>

        {% for e in lista_tickets %}
        <tr>
            <td>{{ e.fecha_apertura}}</td>
            <!-- <td><a href="/aplicacion/urgencias/{{ e.urgencia}}/tickets'">{{ e.urgencia}}</a></td> -->
            <td>{{ e.urgencia}}</td>
            <td>{{ e.estado_ticket}}</td>
            <td>{{ e.num_referencia}}</td>
            <td>{{ e.equipo_a_reparar}}</td>
            <td>{{ e.empleado_asignado}}</td>
            <td>{{ e.tipo_ticket}}</td>
            <td><a href="/aplicacion/ticket/{{ e.id }}">Ver detalles</a></td>
        </tr>
        {% endfor %}
    </table>
</ul>
{% else %}
<p>No hay Tickets creados.</p>
{% endif %}

{% endblock contenido %}